.pdt-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: inherit;

    background-color: var(--myBlack);
    color: white;

    border-radius: 0.5rem;
    overflow: clip;
}

.pdt-image {
    width: 100%;
    aspect-ratio: 2/1;
    object-fit: cover;
    object-position: center;
}

.pdt-name {
    font-weight: 600;
}

.pdt-name,
.pdt-price {
    padding: 10px;
    width: 100%;
    border-top: 1px solid black;

    display: flex;
    align-items: center;
    justify-content: center;
}

.addCart-Btn {
    width: 80%;
    padding: 5px 0;
    margin: 10px 0;
}

.addCart-Btn:hover {
    background-color: white;
}
