.myFooter {
    padding: var(--myPadding);
    height: max-content;
    background-color: var(--myBlack);
    color: white;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    gap: var(--myPadding);
}

.about-details {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: var(--myPadding);
}

.address > p {
    font-size: var(--smallText);
    padding-left: var(--myPadding);
}

.socials > img {
    margin-right: 5px;
}

.socials > img:hover {
    transform: scale(1.2);
    transition: 300ms;
}
