:root {
  --myBlack: #1D1A05;
  --myGreen: #7FB069;
  --myYellow: #F7B32B;
  --myBlue: #388697;
  --myPadding: 24px;
  --textSize: calc(10px + 2vmin);
  --smallText: calc(10px + 1vmin);
}

.contentBg {
  background-color: var(--myGreen);
}

.App {
  background-image: url(./assets/waveBg.svg);
  background-repeat: no-repeat;
  background-size: cover;

  padding: var(--myPadding);
  font-size: 1.2rem;
  min-height: calc(100vh - 6rem);

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 1rem;
}

#veggiesImg {
  height: 30rem;
  width: 50rem;

  border-radius: 2.5rem;
}

.home-text {
  height: 35rem;
  width: max(25rem, 30%);
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  gap: 1rem;
  font-size: 1.8rem;
}

.quality-produce {
  font-weight: 700;
  color: var(--myYellow);
}

.shopBtn {
  padding: 0.5rem 1rem;
  width: max(180px, 40%);
}

.shopBtn:hover {
  background-color: var(--myBlack);
  color: var(--myGreen);
}